# Sistemas Operacionais
.DS_Store
Thumbs.db
Desktop.ini

# Editores / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependências JS (Prevenção caso o projeto escale futuramente)
node_modules/
npm-debug.log
yarn-error.log

# Logs e Caches de Linters
.eslintcache
.stylelintcache
.sass-cache/
